registration/*/obj
registration/*/bin
registration/Debug*
registration/x64*
registration/*/Release
registration/.vs*
registration/*.dep
registration/*.aps
registration/*.vbw
registration/*.suo
registration/*.sdf
registration/*.opendb
registration/*.filters
registration/*.user
registration/*.obj
registration/*.ncb
registration/*.plg
registration/*.bsc
registration/*.ilk 
registration/*.exp
registration/*.sbr
registration/*.opt
registration/*.pdb
registration/*.idb
registration/*.pch
registration/*.res
registration/*.user
registration/Thumbs.db
registration/*.exe
registration/*.dll